@import url("//fonts.googleapis.com/css?family=Google+Sans:400,500,600,700");
@import url("//fonts.googleapis.com/css?family=Roboto+Mono:400,500");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Google Sans", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  font-weight: 500;
  letter-spacing: 0.3px;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(80, 80, 255)
}
main{
  width: 95%;
  max-width: 500px;
  padding: 10px;
  margin: 10px auto;
  background-color: #ffffff;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;

}
button{
  padding: 10px;
  font-size: 20px;
  background-color: rgb(0, 78, 156);
  color: wihte;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: white;
cursor: pointer;
}
